* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0ebeb;
  color: #212121;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
  border-radius: 10px;
}

.image {
  width: 100px;
  height: 70px;
}

.image-flag {
  display: block;
  margin: auto;
  width: 300px;
  height: 150px;
}

.country-list {
  width: 350px;
  list-style: none;
  padding-left: 0;
}

.country {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.country-main {
  width: 350px;
  padding-left: 0;
  text-align: center;
}

.country-body {
  display: block;
  text-align: center;
}
