* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0ebeb;
  color: #212121;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
  border-radius: 10px;
}

.load-more {
  display: none;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.photo-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 200px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 5px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.gallery-item {
  max-width: 200px;
}
img {
  width: 260px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.info {
  display: flex;
  gap: 5px;
  justify-content: space-around;
  color: #444;
  padding-left: 5px;
  padding-right: 5px;
}

.info__box {
  /* display: flex; */
  max-width: 50px;
  text-align: center;
  line-height: 0.2em;
  font-size: 0.7em;
}

.info-counter {
  font-size: 10px;
}
.info-item {
  font-size: 10px;
}

input {
  padding: 0;
  font-size: 16px;
  border: 10px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 10px rgba(135, 167, 171, 0.5);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
  appearance: none;
  outline: none;
  color: #333;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 0 15px 15px 0;
  outline: none;
  border: none;
  border-radius: 6px;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  color: #385898;
  background-color: #cfe4f8;
  cursor: pointer;
  user-select: none;
  appearance: none;
}

.load-more {
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #385898;
  background-color: #cfe4f8;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}
